<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <header>
        <h1>About Us</h1>
        <p>Here at Lui's Gaming PC Store, we believe that every gamer has a right to top-tier performance and reliability. It is with this philosophy in mind that we aim to
        bring gaming PC's to customers at every price point without sacrificing quality so that you too can face your competition with the utmost confidence. Founded in 2024,
        we have been serving customers for 1 whole week!</p>
    </header>
<a href="http://localhost:8080/">Home Page</a>
</body>
</html>